.service-card img {
    width: 100%;
    height: 200px;
}
.service-card{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    transition: transform 0.3s linear;
}
.service-card:hover{
    transform: scale(1.01);
}
.button{
    color: #3089FC;
}
.service-card:hover .button{
    background-color: #FF8000 !important;
    border-color: #FF8000 !important;
    color: #fff;
}